<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ProjectDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\VS-2022\Ordering products\Ordering products\Ordering products\DB\ProjectDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>